.gems-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.gems-input-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.gems-output-container {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.gem-single__type {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
}
.gem__image {
  max-height: 75px;
}
.gem__input {
  height: 20px;
  width: 40px;
  margin: 0px 5px;
}
.gem__title {
  margin: 10px;
}
